#enemy {
	position: absolute;
	width: 86.4px;
	height: 81.6px;
	top: 245px;
	right: -100px;
}

.moving {
	animation: moving 1s infinite linear;
}
@keyframes moving {
	0% {
		right: -100px;
	}
	100% {
		right: 770px;
	}
}
