@font-face {
	font-family: "Pixel";
	src: url(../font/Pixel.ttf) format("truetype");
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	min-height: 100vh;
	font-family: "Pixel", sans-serif;
	word-spacing: 10px;
	background: #e0ac9e;
}

.modal-wrapper {
	display: flex;
	justify-content: center;
	gap: 20px;
}
#modal {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 100px;
}
#modal h1 {
	color: white;
	font-weight: 200;
}
.modal-img {
	width: 200px;
	height: 100px;
	position: absolute;
	z-index: -1;
}
.refresh-btn-container {
	width: 100px;
	height: 100px;
}
.refresh-btn {
	width: 100px;
	height: 100px;
	border: none;

	background: none;
	transition: transform 0.2s ease-in-out;
}
.refresh-btn:hover {
	transform: scale(1.05);
}
.refresh-btn img {
	pointer-events: none;
	width: 120px;
	height: 100px;
}
.game-container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	align-items: center;
}

.canvas-wrapper {
	position: relative;
	overflow: hidden;
}
.text-wrapper {
	color: #a1604e;
	font-size: 30px;
}
